* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    background-color: #ffc3ae;
  }
.field {
    min-height: 100%;
    background-color: white;
    border: 2px solid red ;
    margin: 0 20%;
  }
.logo{
    margin: 2px;
    width: 76;
    height: 76;
    border-radius: 10px 10px 10px 10px;
}
.logo a{
    display: block;
    height: 100%;
}
.search_bar{
    height: 20px;
    margin-left: 10px;  
    border: 2px solid red;
}
.user_info{
    text-align: right;
    float:right; 
}
button{
    margin: 20px 40%;
    height: 60px;
    width: 20%;
    border-radius: 10px;
    background-color: #ff5d55;
}
header{
    margin: 0px 15%;
    display: flex;
	justify-content: space-between;
    background-color: #ff5d55;
    width: 70%;
    height: 80px;
    line-height: 80px;
    border-radius: 0 0 10px 10px;
    border: 2px solid red ;
}
.mypost{
    margin: 20px 20%;
    background-color: #ffe2d8;
    width: 60%;
    height: auto;
    padding: 30px;
    text-align: center;
}
.description{
    text-align: left;
}
.hashtags{
    text-align: left;
}
.likes{
    text-align: left;
}
.publicationDate{
    text-align: right;
    float: right;
}
footer{
    margin: 0 15%;
    display: flex;
    justify-content: center;
    background-color: #ff5d55;
    width: 70%;
    height: 50px;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid red ;
}

.footer_text{
    white-space: nowrap;
    overflow: hidden;
}
